# ============================================================
# CS2-DMA .gitignore
# ============================================================

# ===== 构建产物 =====
# 可执行文件与调试符号
*.exe
*.pdb
*.iobj
*.ipdb
.gitignore


# MSVC 中间文件
*.obj
*.tlog
*.res
*.recipe
*.lastbuildstate

# 构建目录
cs2/build/
release/

## ===== 运行时生成文件 =====
# ImGui 运行时配置
imgui.ini
# 用户保存的配置
saved/

# ===== 日志与崩溃转储 =====
logs/
*.log
*.dmp
reference/

# ===== IDE / 编辑器 =====
.trae/
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.agents/

# ===== 操作系统 =====
.DS_Store
Thumbs.db
desktop.ini

# ===== 临时文件 =====
*.tmp
*.bak
/gchdma/
/CSHUB/
.gitignore
/PUP/
